body{
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

input[type="text"], input[type="number"],input[type="date"]
{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type="text"]:focus,input[type="number"]:focus,input[type="date"]:focus
{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

